.navbar-default
{
	background-color: black;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: red;
}

.page-header
{
	background-color: AntiqueWhite;
	border-top: solid;
	border-bottom: solid;
	border-color: red;
}

h1
{
	text-align: center;
}

h2
{
	text-align: center;
}

h5
{
	background-color: tan;
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

#departments 
{
	background-color: silver;
	text-align: center;
}

#about
{
	font-size: 20px;
}

#submission
{
	text-align: center;
}

#results
{
	text-align: center;
}

#data
{
	padding-left: 40px;
}