<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<title>Contact</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" >
	</head>

	<body>
		<h1>Contact LCULPA</h1>

		<div id="contact">
			<p> For inquiries, concerns, or suggestions, please send an email to:  brkatzman@jtsa.edu </p>

			<form action="/" method="get">
				<input type="submit" value="Back to LCULPA">
			</form>

		</div>

</html>