<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<title>Gold Bush Professors</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" >
	</head>

	<body>

		<div id="results">
			<h1>Gold Bush Professors</h1>
			<form action="/" method="get">
					<input type="submit" value="Back to LCULPA">
			</form>
		</div>

<br><br>

		<!-- loop through cursor objects and print reviews -->
		<div id="data">
		{% for result in kohnreviews %}
				<div id="result" class="container-fluid">
					<strong>Professor Name:</strong> {{result.name}}<br>
			        <strong>Department:</strong> {{result.department}}<br>
			        <strong>Class:</strong> {{result.classes}}<br>
			       	<strong>Summary:</strong> {{result.summary}}<br> 
			        <strong>Workload:</strong> {{result.workload}}<br>
			    </div>
			    <br><br>
		{% endfor %}

		{% for result in androphyreviews %}
				<div id="result" class="container-fluid">
					<strong>Professor Name:</strong> {{result.name}}<br>
			        <strong>Department:</strong> {{result.department}}<br>
			        <strong>Class:</strong> {{result.classes}}<br>
			       	<strong>Summary:</strong> {{result.summary}}<br> 
			        <strong>Workload:</strong> {{result.workload}}<br>
			    </div>
			    <br><br>
		{% endfor %}

		{% for result in gampelreviews %}
				<div id="result" class="container-fluid">
					<strong>Professor Name:</strong> {{result.name}}<br>
			        <strong>Department:</strong> {{result.department}}<br>
			        <strong>Class:</strong> {{result.classes}}<br>
			       	<strong>Summary:</strong> {{result.summary}}<br> 
			        <strong>Workload:</strong> {{result.workload}}<br>
			    </div>
			    <br><br>
		{% endfor %}


	</div>

	</body>
</html>