{% extends "layout.html" %}

{% block body %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" >

  <h1>Submit a Review</h1>

  <div id="submission">
    <form action="/" method="get">
      <input type="submit" value="Back to LCULPA">
    </form>
  </div>

  <div class="container-fluid">

     <form action="/submitreview" method="post" enctype="multipart/form-data"> 

      <!-- dropdown menu for professors -->
      <select name="name">
        <option value="Ron Androphy">Ron Androphy</option>
        <option value="Carl Astor">Carl Astor</option>
        <option value="Noah Bickart">Noah Bickart</option>
        <option value="Yonatan Brafman">Yonatan Brafman</option>
        <option value="Alan M. Cooper">Alan M. Cooper</option>
        <option value="Neil Danzig">Neil Danzig</option>
        <option value="Eliezer B. Diamond">Eliezer B. Diamond</option>
        <option value="Arnold M. Eisen">Arnold M. Eisen</option>
        <option value="Eitan Fishbane">Eitan Fishbane</option>
        <option value="David Fishman">David Fishman</option>
        <option value="Shamma Friedman">Shamma Friedman</option>
        <option value="Benjamin R. Gampel">Benjamin R. Gampel</option>
        <option value="Stephen A. Garfinkel">Stephen A. Garfinkel</option>
        <option value="Stephen A. Geller">Stephen A. Geller</option>
        <option value="Edward M. Gershfield">Edward M. Gershfield</option>
        <option value="Neil Gillman">Neil Gillman</option>
        <option value="Robert A. Harris">Robert A. Harris</option>
        <option value="Judith Hauptman">Judith Hauptman</option>
        <option value="David Hoffman">David Hoffman</option>
        <option value="Alison Joseph">Alison Joseph</option>
        <option value="Amy Kalmanofsky">Amy Kalmanofsky</option>
        <option value="Richard L. Kalmin">Richard L. Kalmin</option>
        <option value="Shira Kohn">Shira Kohn</option>
        <option value="David C. Kraemer">David C. Kraemer</option>
        <option value="Nitza Krohn">Nitza Krohn</option>
        <option value="Marjorie Lehman">Marjorie Lehman</option>
        <option value="Anne Lerner">Anne Lerner</option>
        <option value="Nachum Lerner">Nachum Lerner</option>
        <option value="Barbara Mann">Barbara Mann</option>
        <option value="David Marcus">David Marcus</option>
        <option value="Jonathan Milgram">Jonathan Milgram</option>
        <option value="Eric Miller">Eric Miller</option>
        <option value="Alan Mintz">Alan Mintz</option>
        <option value="Alan Mittleman">Alan Mittleman</option>
        <option value="Edna Nahshon">Edna Nahshon</option>
        <option value="Nina Nesher">Nina Nesher</option>
        <option value="Joel Roth">Joel Roth</option>
        <option value="Zalman Rothschild">Zalman Rothschild</option>
        <option value="Tamara Ruben">Tamara Ruben</option>
        <option value="Tsipi Rubin">Tsipi Rubin</option>
        <option value="Raymond P. Scheindlin">Raymond P. Scheindlin</option>
        <option value="Ismar Schorsch">Ismar Schorsch</option>
        <option value="Marcus Schwartz">Marcus Schwartz</option>
        <option value="Leonard Sharzer">Leonard Sharzer</option>
        <option value="Stefanie Siegmund">Stefanie Siegmund</option>
        <option value="Brian Smollett">Brian Smollett</option>
        <option value="Benjamin Sommer">Benjamin Sommer</option>
        <option value="Burton Visotzky">Burton Visotzky</option>
        <option value="Jack Wertheimer">Jack Wertheimer</option>
        </select>
      <br><br>
 

      <!-- dropdown menu for departments -->
      <select name="department">
        <option value="Ancient Judaism">Ancient Judaism</option> 
        <option value="Hebrew Bible and Its Interpretation">Hebrew Bible and Its Interpretation</option>
        <option value="Jewish Art and Visual Culture">Jewish Art and Visual Culture</option>
        <option value="Jewish History">Jewish History</option>
        <option value="Jewish Literature">Jewish Literature</option>
        <option value="Jewish Music">Jewish Music</option>
        <option value="Jewish Thought">Jewish Thought</option>
        <option value="Jewish Gender and Women Studies">Jewish Gender and Women Studies</option>
        <option value="Medieval and Early Modern Jewish Studies">Medieval and Early Modern Jewish Studies</option>
        <option value="Midrash and Scriptural Interpretation">Midrash and Scriptural Interpretation</option>
        <option value="Modern Jewish Studies">Modern Jewish Studies</option>
        <option value="Talmud and Rabbinics">Talmud and Rabbinics</option>
      </select>
      <br><br>
      
      <!-- textbox for class input -->
      <input type="text" name="classes" placeholder="Course e.g. Medieval Jewish History" style="width: 250px; height: 20px"><br><br>
      
      <!-- textbox for summary input -->
      <input type="text" name="summary" placeholder="Review e.g. YOU MUST TAKE THIS CLASS! Professor Gampel's lecture style..." style="width: 600px; height: 250px"><br><br>
      
      <!-- textbox for workload input -->
      <input type="text" name="workload" placeholder="Workload e.g. 50-80 pages of reading per week, 1 final essay, 1 in-class midterm..." style="width: 600px; height: 250px"><br><br>
      
      <!-- submission button -->
      <input type="submit" value="Submit Review">
     </form>
    </div>
    
  <!-- include bootstrap JS files -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

 

{% endblock %}