{% extends "layout.html" %}

{% block body %}

  <div class="container-fluid">

     <form action="/" method="post" enctype="multipart/form-data"> 
      <input type="text" name="name" placeholder="Professor Name" style="width: 150px; height: 20px"><br><br>
      <input type="text" name="department" placeholder="Department" style="width: 150px; height: 20px"><br><br>
      <input type="text" name="classes" placeholder="Course" style="width: 150px; height: 20px"><br><br>
      <input type="text" name="summary" placeholder="Review" style="width: 600px; height: 250px"><br><br>
      <input type="text" name="workload" placeholder="Workload" style="width: 600px; height: 250px"><br><br>
      <input type="submit" value="Submit Review">
     </form>
    
    <!-- loops through review objects -- enhanced for loop -->
    {% for review in reviews %}

    <p> 
        Professor Name: {{review.name}}<br>
        Department: {{review.department}}<br>
        Class: {{review.classes}}<br>
        Summary: {{review.summary}}<br> 
        Workload: {{review.workload}}<br> 
    </p>

    {% endfor %}
  </div>

 

{% endblock %}