<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>LCULPA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" >
</head>

<body>

    <!-- top navigation bar -->
    <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="submitreview">SUBMIT REVIEW</a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">

                    <!-- send gold and silver bush to search results -->
                    <li><a href="/goldbush">Gold <img src="/static/images/bush.jpg" alt="Bush" style="width:28px;height:23px"></a></li>
                    <li><a href="/silverbush">Silver <img src="static/images/bush.jpg" alt="Bush" style="width:28px;height:23px"></a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="page-header">
       <h1>LCULPA<br><small> An App for the List College Community </small></h1>
   </div>

   <div style="background-color:lightsteelblue !important"class="jumbotron">
    <div class="container-fluid">
        <p>
         <strong>Welcome to LCULPA!</strong>
         LCULPA was founded to give List College students an opportunity to speak their minds, and to share the wisdom that they have gleaned from the precious time they've spent in classrooms ahead of you - and for you to do the same for others!<br><br>
         Please submit reviews for classes you've taken, and use this as a guide when choosing your classes!
     </p>
</div>
</div>

<h2><em>Explore</em></h2>

<br>
<div class="container-fluid" align="center">

 <form action="/results" method="get"> 
  <input type="text" name="search" placeholder="Department, Professor, Class" style="width: 250px; height: 20px">
  <input type="submit" value="Search">
</form>

<div class="container-fluid" align="center">
    <div class="row">
        <div class="col-xs-4">
            <h3>Departments</h3>
            <select id="departments">
                <option value="results?search=Ancient+Judaism">--</option>
                <option value="results?search=Hebrew+Bible+and+Its+Interpretation">Hebrew Bible and Its Interpretation</option>
                <option value="results?search=Hebrew">Hebrew</option>
                <option value="results?search=Jewish+Art+and+Visual+Culture">Jewish Art and Visual Culture</option>
                <option value="results?search=Jewish+History">Jewish History</option>
                <option value="results?search=Jewish+Literature">Jewish Literature</option>
                <option value="results?search=Jewish+Music">Jewish Music</option>
                <option value="results?search=Jewish+Thought">Jewish Thought</option>
                <option value="results?search=Jewish+Gender+and+Women+Studies">Jewish Gender and Women Studies</option>
                <option value="results?search=Medieval+and+Early+Modern+Jewish+Studies">Medieval and Early Modern Jewish Studies</option>
                <option value="results?search=Midrash+and+Scriptural+Interpretation">Midrash and Scriptural Interpretation</option>
                <option value="results?search=Modern+Jewish+Studies">Modern Jewish Studies</option>
                <option value="results?search=Talmud+and+Rabbinics">Talmud and Rabbinics</option>
            </select>
        </div>

        <div class="col-xs-4">
            <h2>Professors</h2>
            <select id="professors">
                <option value="">--</option>
                <option value="results?search=Ron+Androphy">Ron Androphy</option>
                <option value="results?search=Carl+Astor">Carl Astor</option>
                <option value="results?search=Noah+Bickart">Noah Bickart</option>
                <option value="results?search=Yonatan+Brafman">Yonatan Brafman</option>
                <option value="results?search=Susan+Chevlowe">Susan Chevlowe</option>
                <option value="results?search=Alan+M.+Cooper">Alan M. Cooper</option>
                <option value="results?search=Neil+Danzig">Neil Danzig</option>
                <option value="results?search=Eliezer+B.+Diamond">Eliezer V. Diamond</option>
                <option value="results?search=Arnold+M.+Eisen">Arnold M. Eisen</option>
                <option value="results?search=Eitan+Fishbane">Eitan Fishbane</option>
                <option value="results?search=David+Fishman">David Fishman</option>
                <option value="results?search=Shamma+Friedman">Shamma Friedman</option>
                <option value="results?search=Benjamin+R.+Gampel">Benjamin R. Gampel</option>
                <option value="results?search=Stephen+A.+Garfinkel">Stephen A. Garfinkel</option>
                <option value="results?search=Stephen+A.+Geller">Stephen A. Geller</option>
                <option value="results?search=Edward+M.+Gershfield">Edward M. Gershfield</option>
                <option value="results?search=Neil+Gillman">Neil Gillman</option>
                <option value="results?search=Robert+A.+Harris">Robert A. Harris</option>
                <option value="results?search=Judith+Hauptman">Judith Hauptman</option>
                <option value="results?search=David+Hoffman">David Hoffman</option>
                <option value="results?search=Alison+Joseph">Alison Joseph</option>
                <option value="results?search=Amy+Kalmanofsky">Amy Kalmanofsky</option>
                <option value="results?search=Richard+L.+Kalmin">Richard L. Kalmin</option>
                <option value="results?search=Shira+Kohn">Shira Kohn</option>
                <option value="results?search=David+C.+Kraemer">David C. Kraemer</option>
                <option value="results?search=Nitza+Krohn">Nitza Krohn</option>
                <option value="results?search=Marjorie+Lehman">Marjorie Lehman</option>
                <option value="results?search=Anne+Lerner">Anne Lerner</option>
                <option value="esults?search=Nachum+Lerner">Nachum Lerner</option>
                <option value="results?search=Barbara+Mann">Barbara Mann</option>
                <option value="results?search=Vivian+Mann">Vivian Mann</option>
                <option value="results?search=David+Marcus">David Marcus</option>
                <option value="results?search=Jonathan+Milgram">Jonathan Milgram</option>
                <option value="results?search=Eric+Miller">Eric Miller</option>
                <option value="results?search=Alan+Mintz">Alan Mintz</option>
                <option value="results?search=Alan+Mittleman">Alan Mittleman</option>
                <option value="results?search=Hagay+Nahmias">Hagay Nahmias</option>
                <option value="results?search=Edna+Nahshon">Edna Nahshon</option>
                <option value="results?search=Nina+Nesher">Nina Nesher</option>
                <option value="results?search=Joel+Roth">Joel Roth</option>
                <option value="results?search=Zalman+Rothschild">Zalman Rothschild</option>
                <option value="results?search=Tamara+Ruben">Tamara Ruben</option>
                <option value="results?search=Tsipi+Rubin">Tsipi Rubin</option>
                <option value="results?search=Raymond+P.+Scheindlin">Raymond P. Scheindlin</option>
                <option value="results?search=Ismar+Schorsch">Ismar Schorsch</option>
                <option value="results?search=Marcus+Schwartz">Marcus Schwartz</option>
                <option value="results?search=Leonard+Sharzer">Leonard Sharzer</option>
                <option value="results?search=Stephanie+Siegmund">Stephanie Siegmund</option>
                <option value="results?search=Brian+Smollett">Brian Smollett</option>
                <option value="results?search=Benjamin+Sommer">Benjamin Sommer</option>
                <option value="results?search=Burton+Visotzky">Burton Visotzky</option>
                <option value="results?search=Jack+Wertheimer">Jack Wertheimer</option>
            </select>
        </div>

        <div class="col-xs-4">
            <h2>Announcements</h2>
            <p>Good luck choosing your classes!</p>
        </div>
    </div>

    <h5><code>Built by <a href="http://bradenkatzman.github.io">Braden Katzman</a></code></h5>

    <!-- include bootstrap JS files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script> -->

    <script>

    document.getElementById("professors").addEventListener("change", professorSearch, false);

    function professorSearch() {
        document.location = this.value;
    }

    document.getElementById("departments").addEventListener("change", departmentSearch, false);

    function departmentSearch() {
        document.location = this.value;
    }

    </script>

</body>
</html>
