<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<title>LCULPA</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" >
	</head>

	<body>
		
        <!-- top navigation bar -->
        <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
       
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="submitreview">SUBMIT REVIEW</a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    
                    <!-- send gold and silver bush to search results -->
                    <li><a href="/goldbush">Gold <img src="/static/images/bush.jpg" alt="Bush" style="width:35px;height:20px"></a></li>
                    <li><a href="/silverbush">Silver <img src="static/images/bush.jpg" alt="Bush" style="width:35px;height:20px"></a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
<br><br>
    <div class="page-header">
			<h1>LCULPA<br><small> An App for the List College Community </small></h1>
		</div>

    <div style="background-color:lightsteelblue !important"class="jumbotron">
        <div class="container-fluid">
            <p>
            	<strong>Welcome to LCULPA!</strong><br>
            	LCULPA was founded to give List College students an opportunity to speak their minds, and to share the wisdom that they have gleaned from the precious time they've spent in classrooms ahead of you - and for you to do the same for others!
            </p>
        </div>
    </div>

    <h2><em>Explore</em></h2>

    <br>
    <div class="container-fluid" align="center">

     <form action="/results" method="get"> 
      <input type="text" name="search" placeholder="Department, Professor, Class" style="width: 250px; height: 20px">
      <input type="submit" value="Search">
     </form>

     <div class="container-fluid" align="center">
        <div class="row">
            <div class="col-xs-4">
                <h3>Departments</h3>
                <p>
			<a href="results?search=Ancient+Judaism">Ancient Judaism</a><br><br>

			<a href="results?search=Hebrew+Bible+and+Its+Interpretation">Hebrew Bible and Its Interpretation</a><br><br>

			<a href="results?search=Jewish+Art+and+Visual Culture">Jewish Art and Visual Culture</a> <br><br>

			<a href="results?search=Jewish+History">Jewish History</a> <br><br>

			<a href="results?search=Jewish+Literature">Jewish Literature</a><br><br>

			<a href="results?search=Jewish+Music">Jewish Music</a> <br><br>

			<a href="results?search=Jewish+Thought">Jewish Thought</a> <br><br>

			<a href="results?search=Jewish+Gender+and+Women+Studies">Jewish Gender and Women Studies</a> <br><br>

			<a href="results?search=Medieval+and+Early+Modern+Jewish+Studies">Medieval and Early Modern Jewish Studies</a><br><br>

			<a href="results?search=Midrash+and+Scriptural+Interpretation">Midrash and Scriptural Interpretation</a><br><br>

			<a href="results?search=Modern+Jewish+Studies">Modern Jewish Studies</a><br><br>

			<a href="results?search=Talmud+and+Rabbinics">Talmud and Rabbinics</a></p>
            </div>

             <div class="col-xs-4">
                <h2>Professors</h2>
                <a href="results?search=Ron+Androphy">Ron Androphy,</a>
                <a href="results?search=Carl+Astor">Carl Astor,</a>
                <a href="results?search=Noah+Bickart">Noah Bickart,</a><br>
                <a href="results?search=Yonatan+Brafman">Yonatan Brafman,</a>
                <a href="results?search=Alan+M.+Cooper">Alan M. Cooper,</a>
                <a href="results?search=Neil+Danzig">Neil Danzig,</a><br>
                <a href="results?search=Eliezer+B.+Diamond">Eliezer B. Diamond,</a>
                <a href="results?search=Arnold+M.+Eisen">Arnold M. Eisen,</a>
                <a href="results?search=Eitan+Fishbane">Eitan Fishbane,</a><br>
                <a href="results?search=David+Fishman">David Fishman,</a>
                <a href="results?search=Shamma+Friedman">Shamma Friedman,</a>
                <a href="results?search=Benjamin+R.+Gampel">Benjamin R. Gampel,</a><br>
                <a href="results?search=Stephen+A.+Garfinkel">Stephen A. Garfinkel,</a>
                <a href="results?search=Stephen+A.+Geller">Stephen A. Geller,</a>
                <a href="results?search=Edward+M.+Gershfield">Edward M. Gershfield,</a><br>
                <a href="results?search=Neil+Gillman">Neil Gillman,</a>
                <a href="results?search=Robert+A.+Harris">Robert A. Harris,</a>
                <a href="results?search=Judith+Hauptman">Judith Hauptman,</a><br>
                <a href="results?search=David+Hoffman">David Hoffman,</a>
                <a href="results?search=Alison+Joseph">Alison Joseph,</a>
                <a href="results?search=Amy+Kalmanofsky">Amy Kalmanofsky,</a><br>
                <a href="results?search=Richard+L.+Kalmin">Richard L. Kalmin,</a>
                <a href="results?search=Shira+Kohn">Shira Kohn,</a>
                <a href="results?search=David+C.+Kraemer">David C. Kraemer,</a><br>
                <a href="results?search=Nitza+Krohn">Nitza Krohn,</a>
                <a href="results?search=Marjorie+Lehman">Marjorie Lehman,</a>
                <a href="results?search=Anne+Lerner">Anne Lerner,</a><br>
                <a href="results?search=Nachum+Lehman">Nachum Lehman,</a>
                <a href="results?search=Barbara+Mann">Barbara Mann,</a>
                <a href="results?search=David+Marcus">David Marcus,</a><br>
                <a href="results?search=Jonathan+Milgram">Jonathan Milgram,</a>
                <a href="results?search=Eric+Miller">Eric Miller,</a>
                <a href="results?search=Alan+Mintz">Alan Mintz,</a><br>
                <a href="results?search=Alan+Mittleman">Alan Mittleman,</a>
                <a href="results?search=Edna+Nahshon">Edna Nahshon,</a>
                <a href="results?search=Nina+Nesher">Nina Nesher,</a><br>
                <a href="results?search=Joel+Roth">Joel Roth,</a>
                <a href="results?search=Zalman+Rothschild">Zalman Rothschild,</a>
                <a href="results?search=Tamara+Ruben">Tamara Ruben,</a><br>
                <a href="results?search=Tsipi+Rubin">Tsipi Rubin,</a>
                <a href="results?search=Raymond+P.+Scheindlin">Raymond P. Scheindlin,</a>
                <a href="results?search=Ismar+Schorsch">Ismar Schorsch,</a><br>
                <a href="results?search=Marcus+Schwartz">Marcus Schwartz,</a>
                <a href="results?search=Leonard+Sharzer">Leonard Sharzer,</a>
                <a href="results?search=Stephanie+Siegmund">Stephanie Siegmund,</a><br>
                <a href="results?search=Brian+Smollett">Brian Smollett,</a>
                <a href="results?search=Benjamin+Sommer">Benjamin Sommer,</a><br>
                <a href="results?search=Burton+Visotzky">Burton Visotzky,</a>
                <a href="results?search=Jack+Wertheimer">Jack Wertheimer</a>
                
            </div>

            <div class="col-xs-4">
                <h2>Annoucements</h2>
                <p>
                    Thanks for checking out LCULPA! This app is brand new, so we need your help to build up our database! Submit some reviews to get the ball rollin' :)
                </p>
                <br><br>
                <p><strong>COMING SOON</strong>
                    <br>
                    Study Guide Database! In the near future, you'll be able to upload your study guides from past classes. Further, you'll be able to access other students' study guides for classes you're currently taking! Check back frequently for more updates!
                </p>
                <br><br>
                <p><strong>ALSO COMING SOON</strong>
                    <br>
                    A BRAND NEW LCSC WEBSITE! At the beginning of the Fall 2015 semester, LCSC will be unveiling a brand new website built to meet all of your LCSC needs! More details TBA!
                </p>
                <br>

                <div id="message">
                    <font color="orange">HAPPY SUMMER, LIST COLLEGE!</font>
                </div>
            </div>
	</div>

	<h5> <a href="">LCSC Website</a> -- link will be live next semester! </h5>

	<div class="row">
            <div class="col-xs-12">
                <footer>
                    <p><code>Built by Braden Katzman</code></p>
                </footer>
            </div>
    </div>
	
	<!-- include bootstrap JS files -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
	
	</body>
</html>
