<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<title>LCULPA</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" >
	</head>

	<body>
		<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="submitreview">SUBMIT REVIEW</a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li><a href="" target="_blank">Gold Bush</a></li>
                    <li><a href="" target="_blank">Silver Bush</a></li>
                    <li><a href="" target="_blank">FAQ</a></li>
                    <li><a href="" target="_blank">Style Guide</a></li>
                    <li><a href="" target="_blank">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
<br>

    <div class="page-header">
			<h1>LCULPA<small> An app for the List College Community </small></h1>
		</div>

    <div class="jumbotron">
        <div class="container-fluid">
            <p>
            	<strong>Welcome to LCULPA!</strong><br>
            	LCULPA was founded to give List College students an opportunity to speak theirs mind, and to share the wisdom that they have gleaned from the precious time they've spent in classrooms ahead of you - and for you to do the same for others!
            </p>
        </div>
    </div>

    <h2><em>Explore</em></h2>

     <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <h3>Departments</h3>
                <p><!-- links should lead to listing of all professors review in that department -->

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Ancient_Jewish_Studies.xml" target="_blank">Ancient Judaism</a><br><br>

			<a href="http://jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Hebrew_Bible_and_Its_Interpretations.xml" target="_blank">Hebrew Bible and Its Interpretation</a><br><br>

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Jewish_Art_and_Visual_Culture.xml" target="_blank">Jewish Art and Visual Culture</a> <br><br>

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Jewish_History.xml" target="_blank">Jewish History</a> <br><br>

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Jewish_Literature.xml" target="_blank">Jewish Literature</a><br><br>

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Jewish_Music.xml" target="_blank">Jewish Music</a> <br><br>

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Jewish_Thought.xml" target="_blank">Jewish Thought</a> <br><br>

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Jewish_Gender_and_Womens_Studies.xml" target="_blank">Jewish Gender and Women's Studies</a> <br><br>

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Medieval_Jewish_Studies.xml" target="_blank">Medieval and Early Modern Jewish Studies</a><br><br>

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Midrash.xml" target="_blank">Midrash and Scriptural Interpretation</a><br><br>

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Modern_Jewish_Studies.xml" target="_blank">Modern Jewish Studies</a><br><br>

			<a href="http://www.jtsa.edu/Academics/Registrar/Academic_Bulletin/AB_Talmud_and_Rabbinics.xml" target="_blank">Talmud and Rabbinics</a></p>
            </div>

             <div class="col-xs-4">
                <h2>Names</h2>
                <p></p>
            </div>

            <div class="col-xs-4">
                <h2>LCSC Links</h2>
                <p></p>
            </div>
	</div>

	<h5> Looking for study guides? Link to LCSC Website </h5>

	<div class="row">
            <div class="col-xs-12">
                <footer>
                    <p><code>Built by Braden Katzman</code></p>
                </footer>
            </div>
        </div>
	
	<!-- include bootstrap JS files -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
	
	</body>
</html>
